body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;

}


.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.button {
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    color: #fff;
    padding: 15px 35px;
    background: linear-gradient(95.2deg, #B90160 2.23%, #2E3192);
    border-radius: 7px;
    ;
}

.title {
    font-weight: 400;
    font-size: 50px;
    line-height: 59px;
    color: #000000;
}

// -----------------------------------------------

.header {
    background: linear-gradient(269.91deg, rgba(46, 49, 146, 0.7) 0%, rgba(212, 20, 90, 0.7) 98.16%);
    padding: 23px 0;

    &__inner {
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        font-size: 15px;
        color: #fff;
    }

    &__phone {
        display: flex;
        align-items: center;

        &-img {
            margin-right: 12px;
            width: 20px;
            height: 20px;
        }

        &-link {
            margin-right: 12px;
            line-height: 10px;
        }

        &-link:last-child {
            margin-right: 0;
        }
    }

    &__town {
        display: flex;
        align-items: center;

        &-img {
            width: 15px;
            height: 25px;
            margin-right: 8px;
        }

        &-link {
            line-height: 16px;
        }
    }

    &__link {
        display: flex;
        align-items: center;

        &-img {
            width: 30px;
            height: 28px;
            margin-right: 15px;
        }

        &-text {
            font-size: 14px;
            line-height: 14px;
        }
    }
}

.hero {
    position: relative;
    padding-top: 47px;

    &::before {
        content: '';
        position: absolute;
        background-image: url(../images/pod.png);
        background-repeat: no-repeat;
        background-size: contain;
        top: 56%;
        right: 50%;
        transform: translate(50%, -50%);
        max-width: 1267px;
        width: 100%;
        max-height: 568px;
        height: 100%;
        z-index: -2;
    }

    &__top {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        display: flex;

        &-text {
            margin-left: 11px;
            font-style: italic;
            font-weight: 900;
            font-size: 36px;
            line-height: 42px;
            color: #000000;
            align-self: center;
        }
    }

    &__menu {
        display: flex;

        &-item {
            margin-right: 25px;
        }

        &-item:last-child {
            margin-right: 0;
        }

        &-link {
            color: #737373;
        }
    }

    &__body {
        display: flex;
        align-items: center;
    }

    &__main {


        &-title {
            font-weight: 900;
            font-size: 50px;
            line-height: 59px;
            color: #000000;
            margin-bottom: 10px;
            max-width: 596px;
            margin-right: 35px;
        }

        &-subtitle {
            font-size: 24px;
            line-height: 28px;
            color: #000000;
            margin-bottom: 32px;
        }


    }

    &__bg {

        &-img {
            max-width: 533px;
            width: 100%;

        }
    }
}

#app {

    padding: 42px 42px 48px 42px;
    background: #FFFFFF;
    background-image: url(../images/app-bg.png);
    background-position: center;
    box-shadow: 0px 0px 35px rgba(212, 20, 90, 0.25);
    border-radius: 15px;

    text-align: center;
}

#myOverlay {
    z-index: 37;
    position: fixed;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(50px);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}

.app__wrapper {
    max-width: 1180px;
    width: 100%;
    max-height: 392px;
    height: 100%;
    padding: 0 55px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;
    opacity: 0;
    z-index: 38;
}

.app__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 45px;
}

.label__app {
    display: flex;
    justify-content: center;
    margin-bottom: 17px;
}

.input__app {
    max-width: 362px;
    width: 100%;
    padding: 13px 21px;
    background: #FFFFFF;
    border: 1px solid #A2A2A2;
    border-radius: 9px;
    margin-right: 25px;
}

.input__app:last-child {
    margin-right: 0;
}

.input__app::placeholder {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #989898;
}

.input__app-bottom {
    max-width: 750px;
    width: 100%;
    height: 82px;
    padding: 13px 21px;
    background: #FFFFFF;
    border: 1px solid #A2A2A2;
    border-radius: 9px;
    display: block;
    margin: 0 auto 48px;
}

.input__app-bottom::placeholder {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #989898;
}


.app__btn {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.about {
    padding: 25px 0;
    background-image: url(../images/about-bg.png);
    background-position: left center;
    background-repeat: no-repeat;


    &__title {
        text-align: center;
        margin-bottom: 120px;
    }

    &__title span {
        background: linear-gradient(180deg, #B90160 0%, #3D5BF5 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        margin-bottom: 225px;
        padding: 0 20px
    }

    &__item {
        background: #FFFFFF;
        box-shadow: 0px 0px 40px rgba(184, 0, 95, 0.2);
        border-radius: 9px;
        max-width: 344px;
        width: 100%;

        &-img {
            border-radius: 9px 9px 0px 0px;
            max-width: 344px;
            width: 100%;
        }

        &-wrapper {
            padding: 30px 22px 22px 22px;
        }

        &-title {
            font-weight: 700;
            font-size: 36px;
            line-height: 42px;
            color: #000000;
            margin-bottom: 15px;
        }

        &-text {
            font-size: 14px;
            line-height: 16px;
            color: #767676;
        }
    }


}

.slider {
    background: linear-gradient(94.31deg, rgba(212, 20, 90, 0.25) 0.96%, rgba(46, 49, 146, 0.25) 104.83%);
    padding: 100px 0px 72px;
    overflow: hidden;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    &__item {
        background-color: #fff;
        border-radius: 9px;
        width: 536px;
        text-align: center;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
        margin-left: 70px;
        padding: 64px 45px;

        &-img {
            margin: -150px auto 0px;

        }

        &-text {
            color: #000000;
        }

        &-name {
            font-size: 13px;
            line-height: 15px;
            color: #8E8E8E;

        }

        &-border {
            width: 130px;
            height: 2px;
            background: linear-gradient(#B90160 0%, #3D5BF5 100%);
            margin: 21px auto 9px;
        }
    }

    .swiper-slide-active {
        opacity: 0.4;
        transition: all .4s;
    }

    .swiper-slide-duplicate-prev {
        opacity: 0.4;
        transition: all .4s;
    }

    .swiper-slide-duplicate-next {
        opacity: 0.4;
        transition: all .4s;
    }
}



.footer {
    padding: 172px 0 80px;
    background-image: url(../images/footer-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    &__inner {
        display: flex;
        justify-content: space-around;
    }

    &__socials,
    &__contacts,
    &__about {
        width: 224px;
    }

    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
        margin-bottom: 10px;
    }

    &__contacts-link {
        line-height: 10px;
    }

    &__about-text {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 17px;
    }

    &__about-link {
        font-size: 14px;
        line-height: 16px;
    }
}

@media(max-width: 1200px) {
    .about__items {
        display: block;
        margin-bottom: 124px;
    }

    .about__item {
        margin: 0 auto;
        max-width: none;
        height: 430px;
        margin-bottom: 61px;
        text-align: left;

        &-img {
            display: none;
        }

        &-box {
            border-radius: 9px 9px 0px 0px;
        }

        &-box--one {
            background-image: url(../images/about-1.jpg);
            max-height: 189px;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }

        &-box--two {
            background-image: url(../images/about-2.jpg);
            max-height: 189px;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }

        &-box--three {
            background-image: url(../images/about-3.jpg);
            max-height: 189px;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
    }

    .slider__inner {
        padding: 0 25px;
    }

    .slider__item {
        margin: 0 auto;
        margin-bottom: 110px;
        max-width: 536px;
        width: 100%;
    }

    .slider__item:first-child {
        display: none;
    }

    .slider__item:last-child {
        margin-bottom: 0;
    }
}

@media(max-width: 900px) {

    .header {

        &__inner {
            max-width: 500px;
            margin-left: auto;
        }


        &__phone {
            display: none;
        }
    }

    .hero__menu {
        display: none;
    }


}

@media(max-width: 768px) {

    .hero__main-title {
        font-size: 40px;
        line-height: 40px;
    }

    .label__app {
        display: block;
    }

    .input__app {
        margin: 0;
        margin-bottom: 21px;
        max-width: none;
    }

    .input__app:last-child {
        margin-bottom: 0;
    }

    .title {
        font-size: 40px;
        line-height: 47px;
    }

    .about__title {
        margin-bottom: 48px;
    }
}

@media(max-width: 680px) {

    .header__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
    }

    .header__phone {
        display: block;
        margin: 0 auto;

        &-img {
            display: none;
        }

        &-link {
            display: block;
            margin-bottom: 15px;
        }
    }

    .header__town {
        display: block;
        font-size: 17px;
        line-height: 16px;
        font-weight: 300;

        &-img {
            display: none;
        }
    }

    .hero__bg-img {
        display: none;
    }

    .hero__inner {
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: center;
    }

    .hero__top {
        justify-content: center;
    }

    .hero__body{
        justify-content: center;
    }

    .hero__main-title {
        margin-right: 0;
        margin-top: 38px;
        font-size: 25px;
        line-height: 25px;
    }

    .header__link {
        display: none;
    }

    .app__title {
        font-size: 15px;
        line-height: 18px;
    }

    .input__app::placeholder {
        font-weight: 300;
        font-size: 10px;
        line-height: 12px;
        color: #989898;
    }

    .input__app-bottom::placeholder {
        font-weight: 300;
        font-size: 10px;
        line-height: 12px;
        color: #989898;
    }

    .about {
        padding-top: 60px;
    }

    .footer{
        padding: 60px 0 50px;
    }

    .footer__inner{
        flex-direction: column;
        align-items: center;
    }

    .footer__socials{
        margin-bottom: 25px;
        text-align: center;
    }

    .footer__contacts{
        margin-bottom: 25px;
        text-align: center;
    }

    .footer__about{
        text-align: center;
    }
}